@config "../../tailwind.config.ts";

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-accent-dark: var(--accent-dark-color);
  --color-accent: var(--accent-color);
  --color-button: var(--button-color);
  --color-brand: var(--brand-color);
  --color-accent-light: var(--accent-light-color);
  --color-accent-ultra-light: var(--accent-ultra-light-color);
  --color-on-accent: var(--on-accent-color);
}

@layer utilities {
  .h-main-screen {
    @apply lg:h-[calc(100dvh-16vh)] md:h-[calc(100dvh-12vh)] h-[calc(100dvh-8vh)];
  }
}
